<!DOCTYPE html>
<html>
<head>

	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<title>Forgot Password</title>
	<style media="screen">
			input
			{
			 -moz-border-radius: 15px;
				border-radius:10px;
				border:solid 1px black;
				padding:5px;

			}
			#ul01{
				overflow: hidden;
				list-style-type: none;
			}
			li{
				font-size: 19px;
				float: right;
				padding-right: 40px;
			}
			li a{
				display: block;
				color: black;
				text-align: center;
			}
	</style>
</head>
<body>
		{% load static %}
		<img src="{% static 'images/Latest2.jpg' %}" alt="Twitter Image" style="width: 1550px;height: 115px">
		<ul id="ul01">
			<li><a style="background-color: #f2b72e; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; width: 65px; height: 32px; margin-right: -20px;" href="login/">Log in</a></li>
		</ul>

		{% if msg1 != 'OTP has been send to registered email address' and message != False %}
				<p style="text-align: center; font-size: 35px; margin-top: 50px">Forgot your password? No problem.</p>
				<p style="text-align: center; font-size: 17px">Enter the email you used when you signed up, and we'll help you out.</p>
				{% if message1 == 'EmailID not found in database.' %}
						<form action="sendmail/" method="POST">
								{% csrf_token %}
								<br><br>
								<center><label for="forgotpass"></label><input type="text" name="email" id="forgotpass" placeholder="Email Address" style="width: 450px" required><br>
								<input type="submit" name="submit" value="Request OTP" style="margin-top: 10px"></center>
						</form>
						<br>
						<p style="text-align: center; color: red; font-size: 20px">Not a valid Email Address.</p>
				{% else %}
						<form action="sendmail/" method="POST">
								{% csrf_token %}
								<br><br>
								<center><label for="forgotpass"></label><input type="text" name="email" id="forgotpass" placeholder="Email Address" required style="width: 450px"><br>
								<input type="submit" name="submit" value="Request OTP" style="margin-top: 10px"></center>
						</form>
				{% endif %}
		{% else %}
		<br>
				<p style="text-align: center; font-size: 25px; margin-top: 50px">OTP has been send to the registered Email Address.</p>
				<form action="otpvalidate/" method="POST">
						{% csrf_token %}
						<br>
						<center>
						<label for="otp"></label><input type="password" name="otp" id="otp" placeholder="Enter OTP" style="width: 450px"><br>
						<input type="submit" name="changepassword" value="Update Password" style="margin-top: 10px; background: lightskyblue">
					</center>
				</form>
				{% if message == False %}
						<p>Invalid OTP entered</p>
				{% endif %}
		{% endif %}

</body>
</html>
