<!DOCTYPE html>
<html>
<head>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<script>
						var check = function ()
						{
								if (document.getElementById('password').value == document.getElementById('confirm_password').value)
								{
										document.getElementById('message').style.color = 'green';
										document.getElementById('message').innerHTML = 'matching';
								}
								else
								{
										document.getElementById('message').style.color = 'red';
										document.getElementById('message').innerHTML = 'not matching';
								}
						}
		</script>
		<style media="screen">
		input
				{
				 -moz-border-radius: 15px;
					border-radius:10px;
					border:solid 1px black;
					padding:5px;
					opacity: 0.6;
				}
		</style>
</head>
<body>
		{% load static %}
		<img src="{% static 'images/Latest2.jpg' %}" alt="Twitte Image" style="width: 1550px; height: 115px">
		<br><br><br><br><br>
		<p style="text-align: center; font-size: 35px;">Enter Your New Password.</p>
		<br>

		<form name="changepassword" action="changepassword/" onsubmit="return ValidateForm()" method="post">

				{% csrf_token %}
				<center>
						<label><input type="password" name="password" id="password" placeholder="New Password" onkeyup="check();"/ style="margin-top: 15px; width: 385px" required></label><br>
						<label><input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm New Password" onkeyup="check();"/ style="margin-top: 10px; width: 385px; margin-left: px" required><br>
						<span id="message"></span></label>
						<input type="hidden" name="emailid" value="{{ mail }}">
					</center>
						<input type="submit" value="Update Password" style="margin-left: 700px; margin-top: 10px">
		</form><br>
		{% if message == 'Passwords Donot Match.' %}
				<p style="text-align: center; color: red; font-size: 20px">{{ message }}</p>
		{% endif %}
</body>
</html>
